
@font-face {
  font-family: font1;
  src: url("National.ttf");
}
@font-face {
  font-family:font2;
  src: url("smil.ttf");
}
@font-face {
  font-family: font3;
  src: url("Bull.ttf");
}
@font-face {
  font-family: font4;
  src: url("National.ttf");
}
@font-face {
  font-family: font5;
  src: url("poppins/Poppins-MediumItalic.ttf");
}
@font-face {
  font-family: font6;
  src: url("mono.ttf");
}
@font-face {
  font-family: font7;
  src: url("Balsamiq/BalsamiqSans-Regular.ttf");
}
@font-face {
  font-family: font8;
  src: url("mendung-SVG.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  /* font-family: font2; */
}
body{
  /* background: linear-gradient(to bottom,transparent,rgb(37,35,37),rgb(37,35,40)); */
  /* background-color: rgba(37,35,37,.6); */
  /* background: #09655A; */
  background-color: darkgreen;
  text-transform: none;
  color: #fff;
  width: 100%;
}
header{
  width: 100%;
  /* padding: 10px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: font2;
  padding: 10px;
  /* padding-top: 20px; */
  /* margin-top: 10px; */
  /* padding: 20px 10px; */
  font-size: 1.5rem;
   /* background: #09655A; */
   position: sticky;
   top: 0;
   background-color:rgb(0,100,8) ;
  
}
main{
  margin-top: 40px;
  display: grid;
  place-items: center;
}
main >h1{
  font-family: font1;
  font-size: 10rem;
  word-spacing: 3px;
  -webkit-text-stroke: white  2px ;
  background:linear-gradient(red,blue) ;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* text-shadow: 0px 6px 0px var(--black); */
}
main ol{
  margin: 20px;
  width: 50%;
}
main ol > li{
  word-break: break-all;
  font-family: font5;
  letter-spacing: 3px;
  padding: 5px;
  font-size: 2rem;
}
main p{
  font-size: 1.8rem;
  width: 50%;
  /* width: 30ch; */
  font-family: font7;
  /* text-transform: none; */
  text-indent: 30px;
  letter-spacing: 3px;
}
footer{
  display: grid;
  place-items: center;
}
footer{
  width: 100%;
  font-size: 2rem;
}
/* footer{
} */
footer h3,a{
  margin: 10px;
}
.footerImg{
  object-fit: cover;
  width: 50% !important;
  position: relative !important;
  height: unset !important;


}

@media (max-width:767.98px) {
 header{
  width: 100%;
  /* background-color: blue; */
 }  
 html{
  font-size: 10px;
 }
}
@media (max-width:575.98px) {
  html{
    font-size: 6px;
   }
   header{
    width: 100%;
    /* background-color: red; */
   }
}